<div class="workout-summary">
    <!-- Show section with last 7 days, data shows whether workout activity within the last week, describes what workout was done that day. -->
    <!-- Show section that displays the workout required for today. With the data and exercises included -->
    
    <h3 id="workout-summary-heading">Workout Summary</h3>
    <div class="workout-history">
        <div id="workout-history-1" class="workout-history-day">
            <div class="workout-date">
                <span>Feb</span>
                <span>1st, 2025</span>
            </div>
        </div>
        <div id="workout-history-2" class="workout-history-day">Feb 2nd, 2025</div>
        <div id="workout-history-3" class="workout-history-day">Feb 3rd, 2025</div>
        <div id="workout-history-4" class="workout-history-day">Feb 4th, 2025</div>
        <div id="workout-history-5" class="workout-history-day">Feb 5th, 2025</div>
        <div id="workout-history-6" class="workout-history-day">Feb 6th, 2025</div>
        <div id="workout-history-7" class="workout-history-day">Feb 7th, 2025</div>
    </div>
    <div class="workout-today">
        <!-- When clicked it will link to the form fill for todays date -->
        <!-- Have background of the tile have the day in it. -->
        <div class="workout-today-day">
            <div class="workout-today">
                <span>Feb</span>
                <span>1st, 2025</span>
            </div>
        </div>
    </div>
</div>
